        @font-face {
        font-family: "Tehzeeb";
        src: url("./Fira_Sans/FiraSans-Light.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        }
        * {
            margin: 0;
            padding: 0;
        }
        
        @media (max-width: 575.98px) {
            .par, .par2nd, .par3rd, .par4th,
            .par6th, .par7th, .par8th, .par9th {
                width: 350px !important;
                height: auto !important;
                margin: 10px !important;
                padding-bottom: 10px !important;
            }
            .par3rd { padding-bottom: 50px !important; }
            .par5th { width: 280px !important;}

            .img1 {width: 98% !important;}
            .pro { left: 141px !important; }
            .text1 img {
                width: 60px;
                height: auto;
            }

            textarea {
                width: 100%;
                padding-left: 3px !important;
            }

            .va {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .span1, .span2 {bottom: 9px !important;}
            .btn{box-shadow: none !important;}
        }

        @media (max-width: 380px) {
            .par7th, .par8th, .par9th { width: 300px !important; }
        }

        @media (max-width: 330px) {
            .par, .par2nd, .par3rd, .par4th,
            .par6th {
                margin: 10px 0 !important;
                width: 300px !important;
            }
            .par5th, .par7th, .par8th, .par9th { width: 240px !important;}
            .dv1 h3{font-size: 10px !important;}
        }

        @media (min-width: 576px) and (max-width: 767.98px) {
            .par, .par2nd, .par3rd, .par4th,
            .par5th, .par6th, .par7th, .par8th, .par9th {
                width: 95%;
                margin: auto;
            }

            .text1 img {
                width: 80px;
                height: auto;
            }
        }

        @media (min-width: 768px) and (max-width: 991.98px) {
            .par, .par2nd, .par3rd, .par4th,
            .par5th, .par6th, .par7th, .par8th, .par9th {
                width: 85%;
            }

            .text1 img {
                width: 100px;
            }

            .par5th, .par6th {
                margin: 20px 0 0 20px !important;
            }
        }

        @media (min-width: 992px) and (max-width: 1199.98px) {
            .par, .par2nd, .par3rd, .par4th,
            .par5th, .par6th, .par7th, .par8th, .par9th {
                width: 75%;
            }

            .par5th, .par6th {
                margin: 20px 0 0 20px !important;
            }
        }

        @media (min-width: 1200px) {
            .par, .par2nd, .par3rd, .par4th,
            .par5th, .par6th, .par7th, .par8th, .par9th {
                width: 65%;
            }
        }


        body {
            background: #f5f5f5;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
            padding: 50px 0;
            font-family: "Tehzeeb", sans-serif;
        }

        .head-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        /*card*/

        .par{
            height: 818px;
            width: 260px;
            background: #fff;
            border: 1px solid #dcdcdc;
            border-radius: 15px;
            box-shadow: 0 0 50px 2px #dcdcdc;
            margin-left: 20px;
            padding-top: 0;
            position: relative;
        }
        .img1{
            width: 254px;
            height: auto;
            border-radius: 15px;
            padding: 3px 3px 0px 3px;

        }
        .text1{
            display: flex;
            justify-content: center;
            justify-content: space-between;
            padding: 15px 0px;
        }
        .text1 img{
            width: 45px ;
            height: 45px;
            border-radius: 5px;
         } 
         .img2{
            border: 2px solid hotpink;
         }
         .text2{padding: 8px 15px 15px 15px;}
         .sale{
            padding: 2px 3px;
            color: #a63030;
            background: rgb(255, 214, 221);
            border-radius: 5px;
            border: 2px solid rgb(255, 214, 221);
            font-weight: bold;
            font-size: 9px;
         }
         .text2 h3{
            font-size: 9px;
            color:  #0facf3;
            padding-top: 13px;
         }
        .text2 p{    
            font-weight: bold;
            font-size: 13px;
            margin-top: 9px;
         }
         .fa-star{
            font-size: 8px;
            color: #f8b715;
            letter-spacing: -2.2px;
            padding-top: 12px;
            padding-bottom: 12px;
         }
         .str{color: #c4c1c1;}
         .sp1{font-size: 10px;color: #767373;}
         .sp2{
            font-size: 12px;
            color: #767373;
            text-decoration: line-through;
        }
         .doll{text-decoration: line-through;}
         .sp3{
            font-size: 12px;
            color: black;
        }
        .hr1{
            color: #fdf7f7;
            border: 1px solid;
        }
        .text3 {
            padding-top: 8px;
            padding-left: 15px;
            display: flex;
            justify-content: space-between;
        }
        .text3 p{    
            font-weight: bold;
            font-size: 13px;
         }
         .check{
            font-size: 16px;
            color: rgb(232 4 69);
            text-shadow: 3px 3px 8px rgb(187 187 187);
         }
         .circle{
            font-size: 16px;
            color: #f0ac01;
            text-shadow: 3px 3px 8px #f3d68e;
         }
         .circle1{
            background: #0093ff;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            margin: 0px 5px;
            display: inline-block;
         }
         .circle2{
            background: #0707a1;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            margin-right: 20px;
            margin-left: 2px;
            display: inline-block;
         }
         .text4 {
            padding-top: 20px;
            padding-left: 15px;
            display: flex;
            justify-content: space-between;
         }
        .text4 p{    
            font-weight: bold;
            font-size: 13px;
            padding-top: 5px;
         }
         .size{
            color: #7f7f7f;
            background: #fff;
            border-top: 2px solid #d1d1d1;
            border-right: 1px solid #e3dfdf;
            border-bottom: 2px solid #d1d1d1;
            border-left: 1px solid #e3dfdf;
            border-radius: 5px;
            padding: 4px;
            margin-right: 15px;
         }
         .text5{padding: 8px 15px 15px 15px;position: relative;}
         .an{
            color: black;
            position: absolute;
            right: 15px;
            font-size: 12px;
         }
         .di{
            display: flex;
            justify-content: space-between;
            padding-top: 40px;
            position: relative;
         }
         .bt{
            background: #fff;
            border-top: 2px solid #d1d1d1;
            border-right: 1px solid #e3dfdf;
            border-bottom: 2px solid #d1d1d1;
            border-left: 1px solid #e3dfdf;
            border-radius: 5px;
            padding: 3px 8px;
            font-size: 14px;
         }
         h6{
            position: absolute;
            right: 15px;
            bottom: 35px;
            color: #767373;
         }
         .hr3{
            color: #fdf7f7;
            border: 1px solid;
            margin-top: 35px;
        }
        .text6{
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            padding-bottom: 28px;
            padding-top: 20px;
        }
        .bt1{
            background: #f0ac01;
            padding: 10px 18px;
            border: 2px solid #f0ac01;
            border-radius: 5px;
            font-size: 10px;
            box-shadow: 1px 5px 10px #ffdd88;
        }
        .bt2{
            background: rgb(238 37 95);
            color: white;
            padding: 10px 32px;
            border: 2px solid rgb(238 37 95);
            border-radius: 5px;
            font-size: 10px;
            box-shadow: 1px 5px 10px rgb(249 190 200);
        }
        .sp4 {
            font-size: 14px;
            display: flex;
            justify-content: center;
        }
        .sp4 i{color: #767373;}
        .sp4 .fa-facebook-f{margin-right: 10px}
        .sp4 .fa-square-instagram{margin-right: 10px}
        .sp4 .fa-linkedin-in{margin-right: 10px}

        /*card*/

        .par2nd {
            height: 230px;
            width: 290px;
            background: #fff;
            border: 1px solid #dcdcdc;
            border-radius: 15px;
            box-shadow: 0 0 50px 2px #dcdcdc;
            margin-left: 15px;
        }
        .par2nd div:not(.di5,.di7){
            display: flex;
            justify-content: space-between;
            padding: 6px 18px;
        }
        .di1{margin-top: 15px;margin-bottom: 10px}
        .spn1{font-weight: bold;font-size: 18px}
        .spn2{font-size: 14px;color: rgb(233 1 67);padding-top: 2px}
        .spn2 i{font-size: 10px}
        .spn4{font-size: 14px;}
        .spn4 i{font-size: 12px}
        .spn6{font-size: 14px;}
        .spn6 i{font-size: 12px}
        .spn8{font-size: 14px;}
        .spn8 i{font-size: 12px}
        .di5{padding: 10px 18px;}
        .hr4{color: #f5f5f5;border: 1px solid;}
        .spn9{font-weight: bold;font-size: 16px}
        .spn10{color: #ed1a02;font-size: 14px}
        .spn10 i{font-size: 12px}
        .di7{
            display: flex;
            justify-content: space-between;
            padding: 0px 15px;           
        }
        .spn12{font-size: 10px;padding-bottom: 20px}

        /*card*/

        .par3rd{
            height: 155px;
            width: 290px;
            background: #fff;
            border: 1px solid #dcdcdc;
            border-radius: 15px;
            box-shadow: 0 0 50px 2px #dcdcdc;
            margin-left: 15px;
            margin-top: 18px;
            padding: 20px 18px;
            box-sizing: border-box;
            position: relative;
        }
        .par3rd span{
            font-weight: bold;
            font-size: 14px;
        }
        .par3rd span span{
            font-weight: lighter;
            font-size: 12px;
        }
        .bn{
            font-size: 10px;
            font-weight: bold;
            background: #daf1ff;
            border: 2px solid #daf1ff;
            border-radius: 5px;
            padding: 2px 4px;
        }
        .para{
            font-size: 12px;
            padding-top: 7px;
            letter-spacing: -0.01px;
        }
        .para1{
            font-size: 12px;
            padding-top: 3px;
            letter-spacing: -0.01px;
        }
        .para2{
            padding-top: 7px;
            font-size: 11px;
        }
        .bn1, .bn2{
            font-size: 11px;
            font-weight: bolder;
            background: #fff;
            padding: 3px 9px;
            border-top: 2px solid #f8f8f8;
            border-right: 1px solid #dcd5d5;
            border-bottom: 2px solid #f8f8f8;
            border-left: 1px solid #dcd5d5;
            border-radius: 5px;
            position: absolute;
            bottom: 18px;
            left: 45px;
        }
        .bn2{
            color: rgb(237 0 67);
            left: 105px;
        }

        /*card*/

        .par4th{
            height: 400px;
            width: 312px;
            background: #fff;
            border: 1px solid #dcdcdc;
            border-radius: 15px;
            box-shadow: 0 0 50px 2px #dcdcdc;
            margin-left: 15px;
            margin-top: 15px;
            padding: 20px 18px;
            box-sizing: border-box;
            position: relative;
        }
        .h{text-align: center;font-size: 14px}
        .p{
            text-align: center;
            font-size: 40px;
            font-weight: bolder;
            color: red;
            padding-top: 5px;
        }
        .dv{padding-left: 95px;}
        .par4th .st{
            color: #f8b715;
            font-size: 14px;
            text-align: center;
        }
        .st1{color: #c4c1c1;font-size: 14px}
        .p1{
            font-size: 10px;
            color: #767373;
            text-align: center;
        }
        .d{padding-top: 30px;padding-bottom: 30px}
        .dv1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 5px;
        }
        .dv1 h3{font-size: 14px;}
        .cd{display: flex;}
        .cd1{
            width: 90px;
            height: 3px;
            background: rgb(238 37 95);
            margin-top: 8px;
        }
        .cd2{
            width: 80px;
            height: 3px;
            background: #e0dada;
            margin-top: 8px;
        }
        .dv1 p{font-size: 12px;color: #767373} 
        .butt-head { 
            display: flex;
            justify-content: center;
            align-items: center;
        } 
        .butt{
            color: rgb(233 1 67);
            font-size: 12px;
            padding: 8px 10px;
            border: 1px solid rgb(254 174 197);
            border-radius: 5px;
            background: #fff;
        }
        .butt i{font-size: 10px} 

        /*card 1*/
        .va{display: flex;flex-wrap: wrap;}
        .third-part {    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .par5th {
            height: 377px;
            width: 200px;
            background: #fff;
            border: 1px solid #dcdcdc;
            border-radius: 15px;
            box-shadow: 0 0 50px 2px #dcdcdc;
            margin-left: -5px;
            padding: 30px;
            padding-top: 0px;
            text-align: center;
        }

        .div {
            background: rgb(255, 214, 221);
            height: 36px;
            width: 36px;
            border-radius: 50%;
            position: relative;
            margin-bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
        }

        .divc {
            height: 21px;
            width: 21px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .item {
            margin: 10px;
            margin-bottom: 25px;
        }
        .divc i{
            color:rgb(253, 31, 94);
            font-size: 20px;
        }
        /*card 1*/

        /*card 2*/
        .par6th {
            height: 408px;
            width: 320px;
            background: #fff;
            border: 1px solid #dcdcdc;
            border-radius: 18px;
            box-shadow: 0 0 50px 2px #dcdcdc;
            margin-left: 20px;
            padding-top: 0;
            text-align: center;
            box-sizing: border-box;
            position: relative;
        }
        .pro{
            position: absolute;
            left: 129px;
            top: 140px;
            width: 65px;
            height: 65px;
            border-radius: 100%;
        }
        .child1{
            height: 170px;
            border-radius: 18px 18px 0px 0px;
            background: #056f69;
        }
        .child1 i{
            font-size: 90px;
            padding-top: 40px;
            color: rgb(29 100 96 / 50%);
            filter: blur(2px);
        }
        .child2{
            height: 170px;
        }
        .child2 h3{
            padding-top: 60px;
            padding-bottom: 5px;
        }
        .child2 p{
            padding-bottom: 18px;
        }
        .child2 i{
            padding: 0px 10px 10px 10px;
        }
        .i1{color: #0073c7;}
        .i2{color: #E91E63;}
        .i3{color:#007caf;}
        .i4{color: #3ca0eb;}
        .hr2{
            color: #e3dfdf;
            border: 1px solid;
        }
        .child3{
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-content: space-evenly;
            align-content: center;
            padding-top: 10px;
        }
        .child3 div p{
            font-size: 12px;
            padding-bottom: 5px;
        }
        .child3 div h3{font-size: 14px}
        /*card 2*/

        /*card 3*/

        .par7th{
            height: 25px;
            width: 550px;
            background: #fff;
            border: 1px solid #dcdcdc;
            border-radius: 15px;
            box-shadow: 0 0 50px 2px #dcdcdc;
            margin-left: 15px;
            margin-top: 15px;
            padding: 20px 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative ;
        }
        .par7th-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .d7th{
            border-radius: 100%;
            width: 10px;
            height: 10px;
            background-color: #13a713;
            position: absolute;
            left: 45px;
            top: 40px;
        }
        .lotus{
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }
        .head {margin-left: 15px;}
        .head h5{font-size: 12px;}
        .head p{font-size: 10px;}
        .icon{font-size: 12px;}
        .icon i{
            color: gray;
            padding: 10px;
        }
        /*card 3*/

        /*card 4*/
        .par8th {
            height: 105px;
            width: 540px;
            background: #fff;
            border: 1px solid #dcdcdc;
            border-radius: 15px;
            box-shadow: 0 0 50px 2px #dcdcdc;
            margin-left: 15px;
            margin-top: 15px;
            padding: 20px;
            padding-top: 0;
            text-align: left;
            position: relative;
        }
        .par8th h3{padding-top: 20px;font-size: 14px}
        .par8th p{padding-top: 8px; font-size: 12px}
        .span1{
            color:red;
            font-weight: bold;
            position: absolute;
            left: 20px;
            bottom: 15px;
            font-size: 12px;
        }
        .span1 i{
            font-size: 10px;
        }
        .span2{
            position: absolute;
            left: 80px;
            bottom: 15px;
            font-size: 12px;
            font-weight: bold;
            color: rgb(233 1 67);
        }
        .span2 i{
            font-size: 10px
        }
        /*card 4*/

        /*card 5*/
        .par9th {
            height: 151px;
            width: 542px;
            background: #fff;
            border: 1px solid #dcdcdc;
            border-radius: 15px;
            box-shadow: 0 0 50px 2px #dcdcdc;
            margin-left: 15px;
            margin-top: 15px;
            margin-bottom: 50px;
            padding: 20px;
            padding-left: 18px;
            padding-top: 0;
            text-align: left;
            position: relative;
        }
        .btn
        {
          position: absolute;
          bottom: 20px;
          right: 20px; 
          padding: 4px 10px;
          font-size: 10px; 
          border-radius: 7px;
          border: 2px solid rgb(253, 31, 94);
          background: rgb(253, 31, 94);
          color: #fff;
          box-shadow: 0px 5px 6px 5px rgb(255, 214, 221);
        }
        .par9th textarea{
            border-radius: 7px; 
            padding-top:13px ;
            padding-left:10px ; 
            margin-top:15px ;
            border: 2px solid #e3dfdf;
            resize: none;
        }
        .icons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-content: space-evenly;
        }
        .image{
            font-size: 10px;
            color: gray;
            position: absolute;
            bottom: 28px;
            left: 25px;
        }
        .bi-paperclip{
            font-size: 12px;
            position: absolute;
            bottom: 27px;
            left: 47px;
        }
        /*card 5*/